
body{
	-webkit-user-select: none;
	user-select: none;
}

.page-footer {
    background-color: #193666; 
}

#title {
    position: relative;
    top: 0;   
}

.carousel-item {
    padding-top: 130px;
}