{% extends "base.html" %}
{% load app_filters %}
{% block title %}Manage Users{% endblock %}
{% block sidebar_explore %}active{% endblock %}
{% block body_header %}
    Explore
<br>

{% endblock %}
{% block body %}

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans" />
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.3.1/ol.css"> -->
<link rel="stylesheet" href="/static/css/ol.css">
<div style="display:flex; flex-direction:row">
<div id="map"></div>
<br>

<!-- <button class ="btn btn-success"onclick="start()">Start</button> -->

<div style="display: flex; flex-direction: column; margin-left:100px;">

	<form class="form-horizontal" method="post" enctype="multipart/form-data" >
	{% csrf_token %}
	<div>
		{% for field in form %}
		<!-- <div class="form-group"> -->
		    <label class="control-label " for="">{{ field.label }}</label>
		    <div class="">{{ field }}</div>
		<!-- </div> -->
		{% endfor %}
	</div>
<div style="display: flex; flex-direction: row; justify-content:center; align-items:center;padding-top:5px">
	<button class="btn btn-success" >{{ form_button }}</button>
</div>

</form>  {% if query %}
<div style="display: flex; flex-direction: row; justify-content:center; align-items:center;padding-top:5px">
	<button class="btn btn-success" onclick="locate()">Locate on Map</button>
</div>
	{% endif %}
</div>

<br><br>
</div>

<style>
#map {
	width: 500px;
	height: 500px;
	background-color: #f8f4f0;
}

#map2 {
	width: 700px;
	height: 700px;
	background-color: #f8f4f0;
}
</style>

<script src="/static/js/map.js"></script>

{% if query %}

<table id="datatable" class="table table-hover table-striped table-bordered">
	<thead>
		<th>Name</th>
		<th>Extracted Text</th>
		<th>Latitude</th>
		<th>Longitude</th>
		<th>Image</th>
	</thead>
	<tbody>
		{% for image in query %}
		<script>
			add({img_name:'{{image.img_name}}',
				latitude:'{{image.latitude}}',
				longitude:'{{image.longitude}}',
			});
		</script> 	 	 
		<tr>
			<td>{{ image.img_name }}</td>
			<td>{{ image.extracted_text }}</td>
			<td>{{ image.latitude }}</td>
			<td>{{ image.longitude }}</td>
			<script type="text/javascript">
                function proxy1{{ image.pk }}() {
                    configureModal1(
                            {{ image.pk }},
                            '{{ image.img_path }}',
                        )
                };
            </script>
			<td><button onclick="proxy1{{ image.pk }}()" type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#image-modal">View Image</button></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endif %}
{% include "image_modal.html" %}
<script type="text/javascript">
	$('#datatable').DataTable();

	function configureModal1(pk, img_path) {
     		var x = document.getElementById("omkar");
     		if(x != null) 
     		document.getElementById('image-modal-body').removeChild(x);
     		var element = document.createElement("img");
     		element.setAttribute("src","../" + img_path);
     		element.setAttribute("width",400);
     		element.setAttribute("height",400);
     		element.setAttribute("id","omkar");
            document.getElementById('image-modal-body').appendChild(element); 
            //document.getElementById('image-modal-hidden').value = pk;
        }
</script>
{% endblock %}
