{% load static %}
{% load app_filters %}
<!DOCTYPE html>
<html>
<head>
	<title>Py Extractor</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	<link rel="stylesheet" href="/static/css/main.css">
</head>
<body unselectable="on" onselectstart="return false;" onmousedown="return false">
	<div class="carousel carousel-slider center">
		<div class="carousel-fixed-item center">
			{% if user|isAuthenticated %}
				<a href="/upload" class="btn-large waves-effect waves-light white" style="color:black"><b>UPLOAD</b></a>
				<a href="/explore" class="btn-large waves-effect waves-light white" style="color:black"><b>EXPLORE</b></a>
			{% else %}
				<a href="/login" class="btn-large waves-effect waves-light white" style="color:black"><b>LOGIN</b></a>
			{% endif %}
		</div>
		<div class="carousel-fixed-item white-text" id="title">
			<h2>PyExtractor</h2>
			<p class="white-text"></p>
		</div>
		<div class="carousel-item  white-text" style="background-color:#193666">
			<h2 style="font-size: 40px;">Offline</h2>
			<p class="white-text" style="font-size: 26px;">Entire PyExtractor platform can be run independently without any external dependicies</p>
		</div>
		<div class="carousel-item green white-text">
			<h2 style="font-size: 40px;">Transparent</h2>
			<p class="white-text" style="font-size: 26px;">This platform makes the details about the Government assets more transparent and accessible</p>
		</div>
		<div class="carousel-item teal lighten-2 white-text">
			<h2 style="font-size: 40px;">Accountable</h2>
			<p class="white-text" style="font-size: 26px;">Publicly accessible records will make the agencies more accountable for their respective assets</p>
		</div>
	</div>
	<!-- <hr> -->
	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l5 s12">
					<img width ="130px" src="/static/images/isro.png"/>
				</div>
				<div class="col l3 s12">
					<h5 class="white-text">Usage</h5>
					<ul>
						{% if user|isAuthenticated %}
							<li><a class="grey-text text-lighten-3" href="/upload">Upload</a></li>
							<li><a class="grey-text text-lighten-3" href="/explore">Explore</a></li>
						{% else %}
							<li><a class="grey-text text-lighten-3" href="/login">Login</a></li>
						{% endif %}
					</ul>
				</div>
				<div class="col l2 s12">
					<h5 class="white-text">Documentation</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="#!">Installation</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Running</a></li>
					</ul>
				</div> 	 	 	
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				© 2018 Copyright
			</div>
		</div>
	</footer>

	<!-- jQuery -->
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<!-- JavaScript -->
	<script src="/static/js/index.js" type="text/javascript"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>