{% extends "base.html" %}
{% load app_filters %}
{% block title %}Upload{% endblock %}
{% block sidebar_upload %}active{% endblock %}
{% block body_header %}
    Upload
    <br>

{% endblock %}

{% block body %}

<form class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}
{% for field in form %}
    <div class="form-group">
        <label class="control-label col-sm-2" for="">{{ field.label }}</label>
        <div class="col-sm-10">{{ field }}</div>
    </div>
{% endfor %}
<div class="" style="text-align: center;">
<button class="btn btn-primary">{{ form_button }}</button>
</div>
</form>

<script type="text/javascript">
	$('input[type=file]')[0].name="zip";
</script>
{% endblock %}
